<a href="https://colab.research.google.com/github/eodnjsdl21/Tutoring/blob/main/%E1%84%86%E1%85%AE%E1%86%AB%E1%84%8C%E1%85%A6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 파킨슨병 데이터
- 환자들의 뇌를 촬영한 사진의 상태를 기록한 자료에 각 환자의 상태 status(1: 파킨슨병 진단, 0: 파킨슨병 아님)로 추가한 테이블
- (data/parkinsons.csv)
1. 파킨슨 병을 예측하는 모델로 로지스틱 회귀모형을 적용하여 생성
2. 파킨슨병을 예측하는데 영향을 미치는 변수를 중요한 순서대로 3개 선정
3. 파킨슨 병을 진단하는 기준를 함수로 생성하여(매개변수명 = threshold, 함수명 = cutoff)을 0.5로 했을 때와 0.8로 했을 때 F1-스코어를 비교
    - 분석 조건
        - 필요 없는 컬럼 name을 삭제
        - 데이터의 정규화는 min-max 스케일러 사용
        - 로지스틱 회귀를 위한 상수항 추가
        - status는 카테고리 타입으로 변환
        - 트레이닝셋과 테스트셋 비율은 9:1
        - 모델은 로지스틱 회귀분석 사용
        - 모델의 최적화 방법론은 "bfgs" 사용

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
map: 특정값이나 전체에 대해서 적용한다. 
apply: 적용을 하는데 if 와 같이 조건을 만족하는 것에 대해서 값을 부여한다.

In [ ]:
merge 
how 
교집합 합집합 여집합 차집합 
inner left right outer 
on -> 기준
데이터 개수에 대해서 
outer 같거나 크고
inner 같거나 작다 

예시)
merge 
on =2, 2가 기준이기 때문에 같은 값들만 추려기게 된다. 
일단 23 이 붙고 나머지가 붙는다. 
how= left

In [ ]:
import pandas as pd 

df = pd.read_csv('/content/drive/MyDrive/tutor_quiz(2)/data_file/parkinsons.csv')

In [ ]:
df

,name,MDVP:Fo(Hz),MDVP:Fhi(Hz),MDVP:Flo(Hz),MDVP:Jitter(%),MDVP:Jitter(Abs),MDVP:RAP,MDVP:PPQ,Jitter:DDP,MDVP:Shimmer,...,Shimmer:DDA,NHR,HNR,status,RPDE,DFA,spread1,spread2,D2,PPE
0,phon_R01_S01_1,119.992,157.302,74.997,0.00784,0.00007,0.00370,0.00554,0.01109,0.04374,...,0.06545,0.02211,21.033,1,0.414783,0.815285,-4.813031,0.266482,2.301442,0.284654
1,phon_R01_S01_2,122.400,148.650,113.819,0.00968,0.00008,0.00465,0.00696,0.01394,0.06134,...,0.09403,0.01929,19.085,1,0.458359,0.819521,-4.075192,0.335590,2.486855,0.368674
2,phon_R01_S01_3,116.682,131.111,111.555,0.01050,0.00009,0.00544,0.00781,0.01633,0.05233,...,0.08270,0.01309,20.651,1,0.429895,0.825288,-4.443179,0.311173,2.342259,0.332634
3,phon_R01_S01_4,116.676,137.871,111.366,0.00997,0.00009,0.00502,0.00698,0.01505,0.05492,...,0.08771,0.01353,20.644,1,0.434969,0.819235,-4.117501,0.334147,2.405554,0.368975
4,phon_R01_S01_5,116.014,141.781,110.655,0.01284,0.00011,0.00655,0.00908,0.01966,0.06425,...,0.10470,0.01767,19.649,1,0.417356,0.823484,-3.747787,0.234513,2.332180,0.410335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,phon_R01_S50_2,174.188,230.978,94.261,0.00459,0.00003,0.00263,0.00259,0.00790,0.04087,...,0.07008,0.02764,19.517,0,0.448439,0.657899,-6.538586,0.121952,2.657476,0.133050
191,phon_R01_S50_3,209.516,253.017,89.488,0.00564,0.00003,0.00331,0.00292,0.00994,0.02751,...,0.04812,0.01810,19.147,0,0.431674,0.683244,-6.195325,0.129303,2.784312,0.168895
192,phon_R01_S50_4,174.688,240.005,74.287,0.01360,0.00008,0.00624,0.00564,0.01873,0.02308,...,0.03804,0.10715,17.883,0,0.407567,0.655683,-6.787197,0.158453,2.679772,0.131728
193,phon_R01_S50_5,198.764,396.961,74.904,0.00740,0.00004,0.00370,0.00390,0.01109,0.02296,...,0.03794,0.07223,19.020,0,0.451221,0.643956,-6.744577,0.207454,2.138608,0.123306
194,phon_R01_S50_6,214.289,260.277,77.973,0.00567,0.00003,0.00295,0.00317,0.00885,0.01884,...,0.03078,0.04398,21.209,0,0.462803,0.664357,-5.724056,0.190667,2.555477,0.148569

In [ ]:
df.isnull().sum()

name                0
MDVP:Fo(Hz)         0
MDVP:Fhi(Hz)        0
MDVP:Flo(Hz)        0
MDVP:Jitter(%)      0
MDVP:Jitter(Abs)    0
MDVP:RAP            0
MDVP:PPQ            0
Jitter:DDP          0
MDVP:Shimmer        0
MDVP:Shimmer(dB)    0
Shimmer:APQ3        0
Shimmer:APQ5        0
MDVP:APQ            0
Shimmer:DDA         0
NHR                 0
HNR                 0
status              0
RPDE                0
DFA                 0
spread1             0
spread2             0
D2                  0
PPE                 0
dtype: int64

In [ ]:
a=[0,1,2,3]

In [ ]:
a = pd.DataFrame(a)

In [ ]:
b=[3,4,5]

In [ ]:
b = pd.DataFrame(b)

In [ ]:
pd.merge(a,b)

   0
0  3

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
df.columns

Index(['name', 'MDVP:Fo(Hz)', 'MDVP:Fhi(Hz)', 'MDVP:Flo(Hz)', 'MDVP:Jitter(%)',
       'MDVP:Jitter(Abs)', 'MDVP:RAP', 'MDVP:PPQ', 'Jitter:DDP',
       'MDVP:Shimmer', 'MDVP:Shimmer(dB)', 'Shimmer:APQ3', 'Shimmer:APQ5',
       'MDVP:APQ', 'Shimmer:DDA', 'NHR', 'HNR', 'status', 'RPDE', 'DFA',
       'spread1', 'spread2', 'D2', 'PPE'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              195 non-null    object
 1   MDVP:Fo(Hz)       195 non-null    float64
 2   MDVP:Fhi(Hz)      195 non-null    float64
 3   MDVP:Flo(Hz)      195 non-null    float64
 4   MDVP:Jitter(%)    195 non-null    float64
 5   MDVP:Jitter(Abs)  195 non-null    float64
 6   MDVP:RAP          195 non-null    float64
 7   MDVP:PPQ          195 non-null    float64
 8   Jitter:DDP        195 non-null    float64
 9   MDVP:Shimmer      195 non-null    float64
 10  MDVP:Shimmer(dB)  195 non-null    float64
 11  Shimmer:APQ3      195 non-null    float64
 12  Shimmer:APQ5      195 non-null    float64
 13  MDVP:APQ          195 non-null    float64
 14  Shimmer:DDA       195 non-null    float64
 15  NHR               195 non-null    float64
 16  HNR               195 non-null    float64
 17  status            195 non-null    int64
 18  RPDE              195 non-null    float64
 19  DFA               195 non-null    float64
 20  spread1           195 non-null    float64
 21  spread2           195 non-null    float64
 22  D2                195 non-null    float64
 23  PPE               195 non-null    float64
dtypes: float64(22), int64(1), object(1)
memory usage: 36.7+ KB

In [ ]:
from sklearn.preprocessing import StandardScaler
from imblearn.over_sampling import SMOTE #synthetic minority over-sampling technique

X = df.drop(["status","name"], axis=1, inplace=False) #값들이 입력
Y = df["status"]

#데이터 분할
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

#scaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
print(X_train)

#oversampling
smote = SMOTE(random_state=0)
X_train_over, Y_train_over = smote.fit_resample(X_train, Y_train)

[[ 1.20277786  3.55007322  1.46378495 ...  0.37523479  1.38253798
   0.70950026]
 [-0.08490869 -0.40139205  0.69127853 ... -0.57555776 -0.31740397
  -0.64646829]
 [-1.11208247 -0.68412437 -0.30308418 ... -0.30690231 -1.04720163
   1.20993771]
 ...
 [ 0.41632981  2.41567671 -0.86941153 ...  1.69605993  1.55536714
   0.84509927]
 [ 2.43201619  0.56163635  1.59509347 ... -0.36324299 -0.93743211
  -1.26715615]
 [-1.06441596 -0.89097029 -0.36804959 ... -0.46543789 -1.3048217
  -0.32328725]]

In [ ]:
from sklearn.linear_model import LogisticRegression

logit = LogisticRegression(C = 1, random_state = 0)

logit.fit(X_train_over, Y_train_over)
Y_pred = logit.predict(X_test)

#Y_pred
print("R2 : {:.3f}".format(logit.score(X_train_over, Y_train_over)))

from sklearn.metrics import classification_report
print(classification_report(Y_test, Y_pred))
print(logit.intercept_)
print(logit.coef_)

R2 : 0.866
              precision    recall  f1-score   support

           0       0.53      0.69      0.60        13
           1       0.90      0.83      0.86        46

    accuracy                           0.80        59
   macro avg       0.72      0.76      0.73        59
weighted avg       0.82      0.80      0.81        59

[1.71403444]
[[-0.73746488 -0.13332361  0.13029512 -0.98324742 -0.57216165  0.42966768
  -0.67537968  0.42935073  0.58483933  0.52570722 -0.26706226  0.68681702
   1.25901074 -0.26663509  0.25668046  0.79264003 -0.9100509  -0.15170684
   1.55679724  0.62080648  0.43841545  1.22021464]]

In [ ]:
X = df.drop(["status","name"], axis=1, inplace=False) #값들이 입력
Y = df["status"]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

smote = SMOTE(random_state =0)
X_train, Y_train = smote.fit_resample(X_train, Y_train)

from sklearn.tree import DecisionTreeClassifier

DT_model = DecisionTreeClassifier(random_state = 0, max_depth = 3) 
DT_model.fit(X_train, Y_train)
Y_pred = DT_model.predict(X_test)
print("accuracy: {:.3}".format(DT_model.score(X_train, Y_train)))
print(classification_report(Y_test, Y_pred))

accuracy: 0.936
              precision    recall  f1-score   support

           0       0.58      0.85      0.69        13
           1       0.95      0.83      0.88        46

    accuracy                           0.83        59
   macro avg       0.76      0.84      0.79        59
weighted avg       0.87      0.83      0.84        59

In [ ]:
feature_name = X.columns
feature_importance = DT_model.feature_importances_
sorted(zip(feature_importance, feature_name), reverse = True)

[(0.5471419915771504, 'PPE'),
 (0.14286497659875844, 'DFA'),
 (0.12812557347141956, 'MDVP:APQ'),
 (0.11313511468979717, 'spread2'),
 (0.06873234366287453, 'MDVP:Fhi(Hz)'),
 (0.0, 'spread1'),
 (0.0, 'Shimmer:DDA'),
 (0.0, 'Shimmer:APQ5'),
 (0.0, 'Shimmer:APQ3'),
 (0.0, 'RPDE'),
 (0.0, 'NHR'),
 (0.0, 'MDVP:Shimmer(dB)'),
 (0.0, 'MDVP:Shimmer'),
 (0.0, 'MDVP:RAP'),
 (0.0, 'MDVP:PPQ'),
 (0.0, 'MDVP:Jitter(Abs)'),
 (0.0, 'MDVP:Jitter(%)'),
 (0.0, 'MDVP:Fo(Hz)'),
 (0.0, 'MDVP:Flo(Hz)'),
 (0.0, 'Jitter:DDP'),
 (0.0, 'HNR'),
 (0.0, 'D2')]

In [ ]:
from sklearn.metrics import f1_score

In [42]:
logit = LogisticRegression(C = 0.5, random_state = 0)
logit.fit(X_train_over, Y_train_over)
Y_pred = logit.predict(X_test)
print("임계값 0.5일 때 F1-스코어:", f1_score(Y_test,  Y_pred))

임계값 0.5일 때 F1-스코어: 0.8235294117647058

In [43]:
logit = LogisticRegression(C = 0.8, random_state = 0)
logit.fit(X_train_over, Y_train_over)
Y_pred = logit.predict(X_test)
print("임계값 0.8일 때 F1-스코어:", f1_score(Y_test,  Y_pred))

임계값 0.8일 때 F1-스코어: 0.8505747126436782